[submodule "roles/syslog"]
	path = roles/syslog
	url = https://github.com/Excision-Mail/ansible-syslog
[submodule "roles/redis"]
	path = roles/redis
	url = https://github.com/Excision-Mail/ansible-redis
[submodule "roles/openldap"]
	path = roles/openldap
	url = https://github.com/Excision-Mail/ansible-openldap
[submodule "roles/php"]
	path = roles/php
	url = https://github.com/Excision-Mail/ansible-php
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://github.com/Excision-Mail/ansible-postgresql
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/Excision-Mail/ansible-nginx
