[submodule "roles/openldap/files/schema2ldif"]
	path = roles/openldap/files/schema2ldif
	url = https://github.com/fusiondirectory/schema2ldif
[submodule "roles/syslog"]
	path = roles/syslog
	url = https://github.com/Excision-Mail/ansible-syslog
