authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
	api url "https://acme-staging-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

domain {{ domain }} {
	alternative names { {%- for site in websites %} {{ site.name }} {%- endfor -%} }
	domain key "/etc/ssl/private/{{ domain }}.key"
	domain full chain certificate "/etc/ssl/{{ domain }}.crt"
	sign with letsencrypt
}
