chmod 700 /etc/ssl/private
chmod 600 /etc/ssl/private/{{ domain }}.key
acme-client -vv {{ domain }}
cstat=$?
chown -R root:_privkey_readers /etc/ssl/private
chmod 750 /etc/ssl/private
chmod 640 /etc/ssl/private/{{ domain }}.key
if [ "$cstat" -eq 0 ]; then
        rcctl restart {{ acme_services | join(" ") }}
	echo "UPDATED!! Certificates updated" >&2
elif [ "$cstat" -eq 1 ]; then
        echo "ERROR!! Certificates failed to update" >&2
fi
