znc_relayd_port="{{ znc_relayd_port }}"
znc_irc_port="{{ znc_irc_port }}"
table <znc> { 127.0.0.1 }

tcp protocol zncinspect {

	### TCP performance options 
	tcp { nodelay, sack, socket buffer 65536, backlog 100 }

	### Security options
	tls keypair "{{ domain }}"
	tls { cipher-server-preference, no tlsv1.0, ciphers "HIGH" }

}

relay znctls {
	listen on $relayd_interface port $znc_relayd_port tls

	protocol zncinspect

	forward to <znc> port $znc_irc_port
}
