internal;
proxy_pass http://{{ nginx_ldap_ip }}:{{ nginx_ldap_port }};

proxy_pass_request_body off;
proxy_set_header Content-Length "";
proxy_cache auth_cache;
proxy_cache_valid 200 10m;

proxy_cache_key "$http_authorization$cookie_nginxauth";
proxy_set_header X-Ldap-URL      "{{ nginx_ldap_uri }}";
proxy_set_header X-Ldap-BaseDN   "{{ nginx_ldap_basedn }}";
proxy_set_header X-Ldap-BindDN   "{{ nginx_ldap_binddn }}";
proxy_set_header X-Ldap-BindPass "{{ nginx_ldap_bindpw }}";
proxy_set_header X-CookieName "nginxauth";
proxy_set_header Cookie nginxauth=$cookie_nginxauth;
#proxy_set_header X-Ldap-Template "<< change me >>";
