dn: cn=config
changeType: modify

dn: olcDatabase={0}config,cn=config
replace: olcRootPW
olcRootPW: {CRYPT}{{ openldap_admin_password_hash }}

dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcRootPW
olcRootPW: {CRYPT}{{ openldap_admin_password_hash }}
