dn: cn=config
objectClass: olcGlobal
cn: config
olcArgsFile: /var/openldap/run/slapd.args
olcPidFile: /var/openldap/run/slapd.pid
olcPasswordHash: {CRYPT}
olcPasswordCryptSaltFormat: $2b${{ openldap_bcrypt_rounds|default(12) }}$%.22s
olcLocalSSF: 128
{% if openldap_server_id is defined %}
olcServerID: {{ openldap_server_id }}
{% endif %}
{% if openldap_enforce_tls %}
olcSecurity: tls=1
{% endif %}
{% if openldap_tls %}
olcTLSCACertificateFile: {{ openldap_tls_ca_cert }}
olcTLSCertificateFile: {{ openldap_tls_cert }}
olcTLSCertificateKeyFile: {{ openldap_tls_key }}
{% endif %}


dn: cn=schema,cn=config
objectClass: olcSchemaConfig
cn: schema

{% for ldif in openldap_ldifs %}
include: file:///etc/openldap/schema2ldif/{{ ldif | basename }}
{% endfor %}
{% for schema in openldap_schemas %}
{% if schema != 'nis.schema' and schema != 'rfc2307bis.schema' %}
include: file:///etc/openldap/schema2ldif/{{ schema | basename | regex_replace('\\.schema$', '.ldif') }}
{% endif %}
{% endfor %}


dn: olcDatabase={-1}frontend,cn=config
objectClass: olcDatabaseConfig
objectClass: olcFrontendConfig
olcDatabase: {-1}frontend
olcAccess: to * by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage by * break
{% if openldap_trusted_readers is defined %}
olcAccess: to * by {{ openldap_trusted_readers }} read by * break
{% endif %}

{% for overlay in openldap_frontend_overlays %}

{% include overlay %}

{% endfor %}

dn: olcDatabase={0}config,cn=config
objectClass: olcDatabaseConfig
olcDatabase: {0}config
olcAccess: to * by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage by * break
{% if openldap_trusted_readers is defined %}
olcAccess: to * by {{ openldap_trusted_readers }} read by * break
{% endif %}
olcRootDN: cn=admin,cn=config


dn: olcDatabase={1}mdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: {1}mdb
olcDbDirectory: /var/openldap/data
olcSuffix: {{ openldap_base }}
olcAccess: to * by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage by * break
{% if openldap_trusted_readers is defined %}
olcAccess: to * by {{ openldap_trusted_readers }} read by * break
{% endif %}
olcAccess: to attrs=userPassword by self =xw by anonymous auth by * none
{% if openldap_readers is defined %}
olcAccess: to * by {{ openldap_readers }} read by * break
{% endif %}
olcRootDN: cn=admin,{{ openldap_base }}
olcDbIndex: uid eq
olcDbIndex: mail eq
olcDbIndex: memberOf eq
olcDbIndex: entryCSN eq
olcDbIndex: entryUUID eq
olcDbIndex: objectClass eq
olcDbIndex: associatedDomain pres,eq,sub
olcDbIndex: aAAARecord pres,eq
olcDbIndex: aRecord pres,eq

{% for overlay in openldap_data_overlays %}

{% include overlay %}

{% endfor %}
