printf %s\\n "Updating certificates..."

lego_out=$(su _lego -c "env $(cat /etc/lego/homelab.env | xargs) \
    /usr/local/bin/lego --accept-tos \
    --dns {{ lego_dns }} \
    --path /etc/lego \
    --email {{ lego_email }} \
    --domains '*.{{ domain }}' \
    {{ lego_args }} \
    renew 2>&1
")

printf %s\\n "${lego_out}"

case "${lego_out}" in
*"no renewal.")
    ;;
*)
    install -m 0644 -o _lego -g _lego /etc/lego/certificates/_.{{ domain }}.crt /etc/ssl/homelab.crt
    install -m 0640 -o _lego -g _lego /etc/lego/certificates/_.{{ domain }}.key /etc/ssl/homelab.key
    [ -f /usr/local/libexec/lego_hook ] && /usr/local/libexec/lego_hook
    ;;
esac

printf \\n\\n\\n
