#!/bin/ksh
#
# {{ ansible_managed }}
#

daemon="{{ rm_bin_dir }}/unicorn"
daemon_flags="-l 0.0.0.0:{{ rm_port }} -l \[::\]:{{ rm_port }}"
daemon_user="{{ rm_runner }}"
daemon_execdir="{{ rm_app_dir }}"

. /etc/rc.d/rc.subr

pexp="ruby{{ rm_ruby_slug }}: unicorn master ${daemon_flags}"

rc_bg=YES

rc_cmd $1
