#!/bin/ksh
#
# {{ ansible_managed }}
#

env="RAILS_ENV=production PATH={{ rm_bin_dir }}:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin GEM_HOME={{ rm_gem_dir }} HOME={{ rm_home }}"

daemon="{{ rm_bin_dir }}/puma"
daemon_flags="-b tcp://0.0.0.0:{{ rm_port }} -b tcp://\[::\]:{{ rm_port }}"
daemon_user="{{ rm_runner }}"

. /etc/rc.d/rc.subr

rc_start() {
	${rcexec} "cd {{ rm_app_dir }} && env ${env} ${daemon} ${daemon_flags}"
}

pexp="ruby{{ rm_ruby_slug }}: puma [0-9].[0-9].[0-9] \(tcp://0.0.0.0:{{ rm_port }},tcp://\[::\]:{{ rm_port }}\) \[app\]"

rc_reload_signal=USR2
rc_bg=YES

rc_cmd $1
