127.0.0.1 localhost {{ hostname }} {{ hostname }}.{{ domain }}
::1       localhost {{ hostname }} {{ hostname }}.{{ domain }}

{% for ip,hostnames in (etc_hosts | default({})).iteritems() %}
{{ ip }} {{ hostnames | join(' ') }}
{% endfor %}

